@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v7/EjsrzDkQUQCDwsBtLpcVQVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(https://fonts.gstatic.com/s/firasans/v7/DugPdSljmOTocZOR2CItOugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(https://fonts.gstatic.com/s/firasans/v7/QURAmFz4b80g324-oF-Uj44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url(https://fonts.gstatic.com/s/firasans/v7/6s0YCA9oCTF6hM60YM-qTYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 16px;
}

body {
  max-width: 1200px;
  background-color: rgb(225, 232, 239);
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif;
}

.container {
  height: 45rem;
}

/*Header*/
header {
  position: fixed;
  margin: 0 auto;
  top: 0;
  z-index: 5;
  height: 4.3rem;
  width: 100%;
  background-color: inherit;
  border-bottom: 2px solid rgb(173, 182, 198);

}

header .logo img {
   padding:1rem 1rem;
}

header .logo span {
position: relative;
bottom: 1.5rem;
font-weight: bold;
font-size: 1.5rem;

}

 header nav span {
   color: rgb(65, 70, 76);
   font-weight: bold;
   padding-right: 1.5rem;

}

header nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(83, 132, 161);
  border-radius: 5%;

}

header nav a:hover {
  transition: color 200ms linear 100ms;
  color: rgb(55, 63, 76);

}

header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15rem;
}

.banner-container {
  background-image: url("./images/capstone_colmar_assets/capstone_colmar_assets/images/banner.jpg");
  height: 43rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(177, 193, 219, 0.5);
}

.banner-container .text-container {
  font-size: 1.3rem;
  background-color: rgb(225, 232, 239);
  position: absolute;
  left: 12rem;
  bottom: 5rem;
  padding: 1rem 1rem;
  text-align: center;

}

.text-container h1 {
  margin-bottom: 0;
}

.text-container p {
  margin-bottom: 1rem;
}

.text-container .button a {
  text-decoration: none;
  color: rgb(83, 132, 161);
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: rgb(212, 212, 212);
  border-radius: 5%;

}

.text-container .button a:hover {
  transition: color 200ms linear 100ms;
  color: rgb(144, 149, 152);
}

.main {
  display: block;
  max-width: 100%;
  margin: 1.5rem auto;
  background-color: rgba(218, 235, 246);
}

.container2 {
  display: flex;
  background-color: rgba(218, 235, 246);

}
.man-reading img {
  flex:1;
  margin: 1.5rem 0;
  position: relative;
  left: 8rem;
  max-width: 80%;
  background-color: rgba(177, 193, 219, 0.5);

}
.man-reading h2, .man-reading p,.emanuel {
  max-width: 43rem;
  margin: 0 auto;
  text-align: center;
}

.man-reading h2 {
  font-size: 2rem;
  font-weight: bold;
}

.man-reading p, .emanuel {
  font-size: 1.5rem;
}

.emanuel {
  font-weight: bold;
  position: relative;
  left: 23rem;
  padding: 1rem 0;
}

.info-box {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem;

}

.info-box .text {
  font-size: 1.5rem;
  text-align: center;
}

.info-box .text a {
  text-decoration: none;
  color: rgb(124, 170, 244);
  font-weight: bold;
}

.info-box .text a:hover {
  transition: color 200ms linear 100ms;
  color: rgb(55, 63, 76);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 1rem;
}

.image-container img {
  display: block;
  max-width: 100%;
}

 .learning {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem 0;
}

.course-container {
  width: 45%;
  display: block;
  background-color: rgba(177, 193, 219, 0.5);
  margin: 1rem 1rem;
}

.bottom-main {
  display: flex;
  flex-direction: column;
  height: 20rem;
}

.container3 {
  display: block;
  max-width: 100%;
  margin: 1.5rem auto;
}

.center {
  text-align: center;
}

.content {
  text-align: center;
}

.content h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.content a {
  text-decoration: none;
  color: rgb(124, 170, 244);
  font-weight: bold;
}

.content a:hover {
  transition: color 200ms linear 100ms;
  color: rgb(83, 132, 161);
}

 video {
  max-width: 100%;
  background-position: center;
}

.container3 h2 {
  font-size: 2rem;
  font-weight: bold;
}

.container3 p {
  font-size: 1.5rem;

}

.bottom-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.bottom-main .content {
  border: 2px solid rgb(177, 193, 219);
  background-color: rgb(108, 109, 127);
  color: white;
  width: 25%;
  padding: 0 1rem;

}

.bottom-main .image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.bottom-main .content h3 {
  font-size: 1.5rem;
  font-weight: bold;

}

.bottom-main .content p {
  font-size: 1.5rem;
}

footer {
height: 10rem;
background-color: rgb(108, 109, 127);
color: white;
}

footer span {
  position: relative;
  top: 45%;
  left: 5%;
}
