html {
  font-size: 16px;
}

body {
  max-width: 1200px;
  background-color: rgb(225, 232, 239);
  margin: 0 auto;
}

.container {
  height: 45rem;
}

/*Header*/
header {
  position: fixed;
  margin: 0 auto;
  top: 0;
  z-index: 5;
  height: 4.3rem;
  width: 100%;
  background-color: inherit;
  border-bottom: 2px solid rgb(173, 182, 198);

}

 header .logo img {
   padding:1rem 1rem;
}

header .logo span {
position: relative;
bottom: 1.5rem;
font-weight: bold;
font-size: 1.5rem;

}

 header nav span {
   color: rgb(65, 70, 76);
   font-weight: bold;
   padding-right: 1.5rem;

}

header nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(65, 70, 76);

}

header nav a:hover {
  transition: color 200ms linear 100ms;
  color: red;

}

header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15rem;
}

.banner-container {
  background-image: url("./images/capstone_colmar_assets/capstone_colmar_assets/images/banner.jpg");
  height: 43rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-container .text-container {
  font-size: 1.3rem;
  background-color: rgb(225, 232, 239);
  position: absolute;
  left: 12rem;
  bottom: 5rem;
  padding: 1rem 1rem;
  text-align: center;

}

.text-container h1 {
  margin-bottom: 0;
}

.text-container p {
  margin-bottom: 1rem;
}

.text-container .button a {
  text-decoration: none;
  color: rgb(65, 70, 76);
  font-weight: bold;
}

.text-container .button a:hover {
  transition: color 200ms linear 100ms;
  color: red;
}

.main {
  display: block;
  max-width: 100%;
  margin: 1.5rem auto;
}

.container2 {
  display: flex;
}
.man-reading img {
  margin-left: 15%;
  max-width: 75%;

}
.man-reading h2, p, span {
  text-align: center;
}

.man-reading h2 {
  font-size: 2rem;
  font-weight: bold;
}

.man-reading p, .man-reading .emanuel {
  font-size: 1.5rem;
}

.emanuel {
  font-weight: bold;
  text-align: center;
}

.info-box {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
.info-box .text {
  font-size: 1.5rem;
}

.info-box .text a {
  text-decoration: none;
  color: rgb(65, 70, 76);
  font-weight: bold;
}

.info-box .text a:hover {
  transition: color 200ms linear 100ms;
  color: red;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-container img {
  display: block;
  max-width: 100%;
}

 .learning {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.course-container {
  width: 45%;
  display: block;
}

.bottom-main {
  display: flex;
  flex-direction: column;
  height: 20rem;
}

.container3 {
  height: 20rem;
  display: block;
  max-width: 100%;
  margin: 1.5rem auto;
}

.center {
  text-align: center;
}

.content {
  text-align: center;
}

.content h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.content a {
  text-decoration: none;
  color: rgb(65, 70, 76);
  font-weight: bold;
}

.content a:hover {
  transition: color 200ms linear 100ms;
  color: red;
}

.video {
  height: 20rem;
}

 video {
  max-width: 100%;
  background-position: center;
}

.container3 h2 {
  font-size: 2rem;
  font-weight: bold;
}

.container3 p {
  font-size: 1.5rem;

}

.bottom-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  z-index: 1;
}

.bottom-main .content {
  position: relative;
  top: 2rem;
  margin: 0 1rem;
  width: 30%;
}

.bottom-main .content h3 {
  font-size: 1.5rem;
  font-weight: bold;

}

.bottom-main .content p {
  font-size: 1.5rem;
}
footer {
height: 10rem;
background-color: blue;
color: white;
position: relative;
top: 95%;
}
